### Import the CSV file for the Sales Analysis

In [ ]:
import pandas as pd
df = pd.read_csv('retail_sales_dataset.csv')

In [2]:
# print(df.head())
# print(male_df.info())
print(df.describe())

       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

### Cleaning of Data

In [3]:
df.drop_duplicates(inplace=True) # Remove the Duplicate Values
df['Date'] = pd.to_datetime(df['Date']) #Convert the Date to YYYY/MM/DD format
df.fillna(0,inplace=True) # Replace a NAN values with '0'

#### Aggregation of Data

In [4]:
#Aggreate the Data with the help of Month or Quaterly

df['Month'] =df['Date'].dt.month #Extract the Month
month_sales = df.groupby('Month')['Total Amount'].sum() #Aggreate by sum
print(month_sales)

Month
1     36980
2     44060
3     28990
4     33870
5     53150
6     36715
7     35465
8     36960
9     23620
10    46580
11    34920
12    44690
Name: Total Amount, dtype: int64

In [5]:
unique_category = df['Product Category'].unique()
print(unique_category)

['Beauty' 'Clothing' 'Electronics']

In [6]:
total_unique_category = df['Product Category'].nunique()
print(total_unique_category)

3

In [7]:
per_category_count = df['Product Category'].value_counts()
print(per_category_count)

Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

In [8]:
category_TA = df.groupby('Product Category')['Total Amount'].sum().sort_values(ascending=True)
print(category_TA)

Product Category
Beauty         143515
Clothing       155580
Electronics    156905
Name: Total Amount, dtype: int64

In [9]:
no_of_genders=df['Gender'].nunique()
print(no_of_genders)

2

In [10]:
#Filter out the male Genders form the DataFrame
male_df = df.copy()
male_df =male_df[male_df['Gender']=='Male']

# To make filter out Data for the Male Gender
male_df.to_csv('Male_csv.csv',index=False)

male_counts= male_df['Gender'].value_counts()
# print(male_counts)

#Filter out the male Genders with the various Age Categorys
young_age_people_male= male_df[(male_df['Age']>= 0) &(male_df['Age']<=25)]

middle_age_people_male = male_df[(male_df['Age']> 25) &(male_df['Age']<=50)]

old_age_people_male= male_df[(male_df['Age']> 50) &(male_df['Age']<=100)]


# Display the counts in each age category
print("Young Age People:", len(young_age_people_male))
print("Middle Age People:", len(middle_age_people_male))
print("Old Age People:", len(old_age_people_male))

Young Age People: 88
Middle Age People: 247
Old Age People: 155

In [11]:
female_df=df.copy()
female_df = female_df[female_df['Gender']=='Female']

# To make filter out Data for the Female Gender
female_df.to_csv('Female_csv',index=False)

female_count= female_df['Gender'].value_counts()
# print(female_count)

#Filter out the male Genders with the various Age Categorys
young_age_people_female= female_df[(female_df['Age']>= 0) &(female_df['Age']<=25)]

middle_age_people_female = female_df[(female_df['Age']> 25) &(female_df['Age']<=50)]

old_age_people_female = female_df[(female_df['Age']> 50) &(female_df['Age']<=100)]

# Display the counts in each age category
print("Young Age People:", len(young_age_people_female))
print("Middle Age People:", len(middle_age_people_female))
print("Old Age People:", len(old_age_people_female))

Young Age People: 81
Middle Age People: 271
Old Age People: 158